@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .offer-section .compound-bg {
        top: 34%; /*IE 11 bg position hard fix*/
    }
}

@media all and (min-width: 1620px) {
    .hero-title {
        font-size: 90px;
    }
}

@media all and (max-width: 1450px) {
    .hero {
        background-position: 50% top;
    }

    /*-------------------PARTNERSHIP-------------------*/
    .partnership-section .img-wrap img {
        width: 120%;
    }
}

@media all and (max-width: 1370px) {
    .header {
        padding: 25px 0;
    }

    .header .main-nav {
        padding-top: 20px;
    }

    .logo {
        max-width: 240px;
    }
}

@media all and (max-width: 1220px) {
    .container {
        width: 980px;
    }

    .logo {
        max-width: 200px;
    }

    /*QUICK START SECTION*/
    .quick-start-section .btn {
        font-size: 38px;
    }

    /*OFFER SECTION*/

    .offer-section .tall-house {
        height: 45%;
        right: 60%;
    }

    .offer-section .sm-house{
        height: 29%;
        left: 36%;
    }

    .small-clouds {
        left: 60%;
    }
}

@media all and (max-width: 980px) {
    .text-box {
        max-width: none;
    }

    .container,
    .container-mob {
        width: 690px;
        margin: 0 auto;
        padding: 0 15px;
    }

    .header {
        padding: 12px 0;
    }

    .header .container,
    .footer .container {
        width: 100%;
        padding: 0 20px;
    }

    .burger-btn,
    .mob-nav-close {
        display: block !important;
    }

    .header:before {
        height: 168px;
    }

    .header .nav-wrap {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        text-align: center;

        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);

        opacity: 0;

        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;

        max-height: 100%;
        background-color: rgba(65, 65, 66, 0.95);
        padding: 20% 0 10%;

        overflow-x: auto;
        z-index: 9999;
    }

    .header .nav-wrap.active {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    .header .secondary-nav {
        position: relative;
        display: block !important;
    }

    .secondary-nav .container {
        padding: 0;
    }

    .secondary-nav .caret {
        border-top-color: #fff;
    }

    .header .dropdown .dropdown-menu {
        display: none;
        background-color: transparent;
        border: none;
        padding-top: 15px;
    }

    .header .dropdown:hover .dropdown-menu {
        display: block;
    }

    .header .dropdown:hover .dropdown-menu li {
        margin-bottom: 0;
    }

    .header .dropdown-menu li {
        padding: 10px;
    }

    .header .nav-wrap li {
        display: block;
        text-align: center;
        margin: 0 0 30px;
    }

    .header .nav-wrap a {
        color: #fff;
        font-size: 30px;
    }

    .header .secondary-nav-item a {
        font-size: 26px;
        text-transform: none;
    }

    .footer {
        padding-bottom: 35px;
    }

    .footer .top-footer {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .footer .main-nav {
        width: 100%;
        margin-bottom: 20px;
    }

    /*------------------------------------------HERO------------------------------------------*/
    .hero {
        height: 836px;
        padding-top: 125px;
        background-position: 45% top;
    }

    .hero-title {
        font-size: 60px;
        margin-bottom: 30px;
    }

    .hero .btn {
        font-size: 18px;
        max-width: 188px;
    }

    /*------------------------------------QUICK START SECTION------------------------------------*/
    .quick-start-section {
        padding: 25px 0 65px;
    }

    .quick-start-section .section-title {
        font-size: 45px;
        margin-bottom: 25px;
    }

    .quick-start-section .btns-wrap {
        display: block;
    }

    .quick-start-section .btn {
        display: block;
        max-width: 427px;
        width: 100%;
        margin: 0 auto 20px;
    }

    .quick-start-section .btn:last-child {
        margin: 0 auto;
    }

    /*------------------------------------FEATURE------------------------------------*/
    .feature-section {
        background: none;
        padding-top: 100px;
        padding-bottom: 40px;
    }

    /*------------------------------PARTNERSHIP SECTION------------------------------*/
    .partnership-section {
        background: none;
    }

    .partnership-section .container {
        display: block;
        padding: 0;
        width: 100%;
    }

    .partnership-section .img-wrap {
        width: 100%;
        padding: 80px 0 100px;

        background: url("../img/panel-bg.jpg") repeat-x center;
        background-size: auto 100%;
    }

    .partnership-section .img-wrap img {
        width: 100%;
    }

    .partnership-section .description-wrap {
        max-height: none;
        width: 100%;
    }

    /*------------------------------------OFFER SECTION------------------------------------*/
    .offer-section {
        padding-top: 70px;
        margin-bottom: 50px;
    }

    .offer-section .text-box.right-box {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .offer-section .text-row.mob-bg {
        position: relative;
        padding-bottom: 340px;
    }

    .offer-section .compound-bg {
        top: 0;
    }

    .offer-section .houses {
        height: 410px;
        left: 50%;
    }

    .offer-section .right-box {
        padding: 50px 0 0;
    }

    .mob-bg-white {
        position: relative;
        background-color: #fff !important;
    }

    .small-clouds {
        min-width: 1300px;
        top: 60%;
    }

    .offer-section .sm-house {
        height: 44%;
        left: 58%;
    }

    .offer-section .tall-house {
        height: 407px;
        top: 0;
        bottom: auto;
        right: 37.5%;

        -webkit-transform: translate(100%, -100%);
        transform: translate(100%, -100%);
    }

    /*secondary*/

    .page-banner .banner-title {
        font-size: 65px;
    }

    .page-content {
        font-size: 24px;
        padding-top: 60px;
    }

    .page-tabs-nav .tabs-nav-link {
        font-size: 20px;
        padding: 18px 5px 20px;
    }

    .page-content p {
        margin-bottom: 40px;
    }

    .page-content ul,
    .page-content ol {
        padding-left:40px;
    }

    .page-content li {
        margin-bottom: 30px;
    }

    .page-content blockquote {
        padding-left: 50px;
    }
}

@media all and (max-width: 767px) {
    .container-mob,
    .container {
        width: 100%;
        padding: 0 30px;
    }

    .hero-title {
        font-size: 52px;
    }

    .page-tabs-nav .tabs-nav-link {
        font-size: 18px;
        padding: 12px 5px 10px;
    }
}

@media all and (max-width: 640px) {
    .btn-lg {
        font-size: 22px;
    }

    .hero {
        height: 660px;
        padding-top: 90px;
    }

    .hero .container {
        padding: 0 15px;
    }

    .hero-title {
        font-size: 39px;
    }

    .section-title,
    .page-content-title {
        font-size: 45px;
    }

    .quick-start-section .section-title {
        font-size: 30px;
    }

    .quick-start-section .btn {
        font-size: 24px;
        max-width: 285px;
    }

    .description-wrap {
        font-size: 27px;
    }

    /*FEATURE SECTION*/
    .feature-section {
        padding-top: 70px;
    }

    /*OFFER SECTION*/
    .offer-section .offer-title {
        font-size: 36px;
    }

    .offer-section .offer-sub-text {
        font-size: 18px;
    }

    .offer-section .text-box {
        max-width: 300px;
        font-size: 14px;
    }

    .offer-section .text-row.mob-bg {
        padding-bottom: 160px;
    }

    .offer-section .sm-house {
        height: 34%;
        left: 55%;
    }

    .offer-section .tall-house {
        height: 200px;
    }

    .offer-section .text-box.right-box {
        padding-left: 0;
    }

    /*SECONDARY PAGE*/
    .page-banner .banner-title {
        font-size: 55px;
    }

    .page-content h1,
    .page-content h2,
    .page-content h3 {
        font-size: 38px;
    }

    .page-content h4 {
        font-size: 32px;
    }

    .page-content h5 {
        font-size: 26px;
    }

    .page-content h6 {
        font-size: 24px;
    }

    .page-content h4,
    .page-content h5,
    .page-content h6 {
        margin-bottom: 15px;
    }

    .page-content {
        font-size: 22px;
        padding: 50px 0 80px;
    }
}

@media all and (max-width: 480px) {
    .header:before {
        height: 112px;
    }

    .header .nav-wrap {
        padding-top: 100px;
    }

    .header .nav-wrap a {
        font-size: 22px;
    }

    .hero {
        height: 555px;
    }

    .footer .top-footer {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .footer .main-nav {
        width: auto;
        margin-bottom: 30px;
    }

    .footer .main-nav-item {
        display: block;
        margin-bottom: 10px;
    }

    .footer .link-holder {
        display: block;
        padding-top: 10px;
    }

    /*SECONDARY PAGE*/
    .page-banner .banner-title {
        font-size: 44px;
    }

    .page-content {
        font-size: 18px;
    }

    .page-tabs-nav .tabs-nav-link {
        font-size: 16px;
    }

    .page-content ul,
    .page-content ol {
        padding-left:15px;
        padding-bottom: 0;
    }
}

@media all and (max-width: 390px) {
    .container,
    .container-mob {
        padding: 0 20px;
    }

    .wrap .btn {
        font-size: 16px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .hero-title {
        font-size: 28px;
    }

    .hero .btn {
        max-width: 130px;
    }

    .quick-start-section .btn {
        font-size: 20px;
    }

    .page-content-title,
    .section-title {
        font-size: 32px;
    }

    .section-title {
        margin-bottom: 20px;
    }

    .description-wrap {
        font-size: 18px;
    }

    .partnership-section .description-wrap {
        margin-bottom: 25px;
    }

    /*OFFER SECTION*/
    .offer-section .text-box {
        width: 100%;
    }

    .offer-section .offer-title {
        font-size: 26px;
    }

    .small-clouds {
        display: none;
    }

    /*.offer-section .houses {*/
        /*height: 160px;*/
    /*}*/

    /*SECONDARY */

    .page-content h1,
    .page-content h2,
    .page-content h3 {
        font-size: 28px;
    }

    .page-content h4 {
        font-size: 24px;
    }

    .page-content h5,
    .page-content h6 {
        font-size: 20px;
    }

    .page-content blockquote {
        padding-left: 25px;
    }
}
