/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html, body {
    width: 100%;
    height: 100%;
}

body {
    min-width: 320px;
    font: 14px 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background: #efefef;
    color: #414042;
}

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea, header, nav, section, article, aside, footer, blockquote {
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none;

    -webkit-box-sizing: border-box;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

header, nav, section, article, aside, footer {
    display: block
}

select, input, textarea {
    font: inherit;
    vertical-align: middle;
}

textarea {
    vertical-align: top;
    resize: none;
}

:focus {
    outline: none;
}

input[type=submit], button {
    cursor: pointer;
}

img, fieldset {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    font: inherit;
    color: inherit;
    text-decoration: none;

    -webkit-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.img-fluid {
    display: inline-block;
    max-width: 100%;
    width: 100%;
    height: auto;
    vertical-align: top;
}

.text-primary {
    color: #F15C2C;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.bg-secondary {
    background-color: #292C3F;
}

.btn {
    display: inline-block;
    font: 700 24px/1.5 "GalanoGrotesque", sans-serif;
    padding: 7px 30px 7px;
    text-align: center;

    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    -webkit-transition: .25s;
    transition: .25s;
}

.btn-lg {
    padding: 9px 50px;
    font-size: 29px;
}

.btn:hover,
.btn:focus {
    -webkit-box-shadow: 5px 5px 10px #626262;
    box-shadow: 0 5px 10px #626262;
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}

.btn:active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-default {
    background-color: #fff;
    color: #231F20;
}

.btn-default:hover,
.btn-default:focus,
.btn-shadow:focus,
.btn-shadow:focus {
    color: #F15C2C;
}

.btn-primary {
    background-color: #F15C2C;
    color: #fff;
}

.btn-primary:hover,
.btn-primary:focus {
    color: #231F20;
}

.btn-shadow {
    -webkit-box-shadow: 5px 5px 10px #626262;
    box-shadow: 5px 5px 10px #626262;
}

.hidden {
    overflow: hidden !important;
}

/*animations*/
@-webkit-keyframes bigClouds {
    0% {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    50% {
        -webkit-transform: translate(-50%, -5px);
        transform: translate(-50%, -5px);
    }
    100% {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
}

@keyframes bigClouds {
    0% {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    50% {
        -webkit-transform: translate(-50%, -5px);
        transform: translate(-50%, -5px);
    }
    100% {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
}

/*fadeinleft*/

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 50%, 0);
        transform: translate3d(0, 50%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 50%, 0);
        transform: translate3d(0, 50%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

/*----------------------------------------WRAP--------------------------------------*/

.wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100%;
    background-color: #fff;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0 15px #cacaca;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.text-box {
    max-width: 570px;
    width: 100%;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 6px 0 6px;
    border-color: #424243 transparent transparent transparent;
    vertical-align: middle;
    margin-left: 5px;
}

/*-------------------------------------HEADER---------------------------------------*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 35px 0;

    -webkit-background-size: auto 100%;
    background-size: auto 100%;

    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;

    z-index: 2000;
}

.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 226px;
    background: url("../img/header-bg.png") repeat-x top left;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;

    opacity: 1;
    pointer-events: none;

    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-transition: .4s;
    transition: .4s;
    z-index: 0;
}

.wrap .header.affix {
    background: #fff;
    box-shadow: 0 0 15px #cacaca;
}

.header.affix:before {
    opacity: 0;
}

.header > .container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    z-index: 2;
}

.logo {
    position: relative;
    display: inline-block;
    max-width: 285px;
}

.header .nav-wrap {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right;
}

.main-nav-item {
    display: inline-block;
    margin-right: 30px;
    vertical-align: bottom;
}

.main-nav-item:last-child {
    margin-right: 0;
}

.main-nav-item a {
    position: relative;
    display: inline-block;
    font: 700 18px "Lato", sans-serif;
    vertical-align: bottom;
}

.main-nav-item a:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #F15C2C;

    -webkit-transition: transform .45s;
    -o-transition: transform .45s;
    -webkit-transition: -webkit-transform .45s;
    transition: -webkit-transform .45s;
    transition: transform .45s;
    transition: transform .45s, -webkit-transform .45s;

    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);

    z-index: 1;
}

.main-nav-item.active a {
    color: #F15C2C;
}

.main-nav-item.active a:after,
.main-nav-item a:hover:after,
.main-nav-item a:focus:after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.home .secondary-nav {
    display: none;
}

.home .affix .secondary-nav {
    display: block;
}

.secondary-nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: right;
    padding: 15px 0 7px;
    visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 1;
}

.secondary-nav-item {
    display: inline-block;
    margin-right: 37px;
    vertical-align: top;
}

.secondary-nav-item:last-child {
    margin-right: 0;
}

.secondary-nav-item a {
    font: 12px Roboto, sans-serif;
    text-transform: uppercase;
}

.secondary-nav-item a:hover,
.secondary-nav-item a:focus {
    color: #F15C2C;
}

.header .dropdown {
    position: relative;
}

.header .dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    text-align: left;

    -webkit-transform: scaley(0);
    -ms-transform: scaley(0);
    transform: scaley(0);

    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;

    z-index: 100;
}

.header .dropdown:hover .dropdown-menu {
    padding: 5px 0;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}

.header .dropdown-menu li {
    padding: 5px;
}

.burger-btn,
.mob-nav-close {
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    display: none;
    border: none;
}

.burger-btn {
    position: fixed;
    background: #414142 url("../img/burger.svg") no-repeat center;
    -webkit-transition: transform .4s;
    transition: transform .4s;
    z-index: 1000;
}

.burger-btn.active {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

.mob-nav-close {
    position: absolute;
    background: url("../img/cancel.svg") no-repeat center;
    background-size: 29px;
    z-index: 1000;
}

/*-------------------------------------CONTENT--------------------------------------*/

/*---------------------------------------HERO---------------------------------------*/
.hero {
    padding: 177px 0 160px;
    min-height: 100vh;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero .text-box {
    width: 54%;
    max-width: 625px;
    margin-left: auto;
}

.hero-title {
    font: 700 5.32vw/1 "GalanoGrotesque";
    letter-spacing: 1px;
    margin-bottom: 55px;
}

.hero .btn {
    width: 100%;
    max-width: 250px;
}

/*---------------------------------------SECTION---------------------------------------*/
.section-title {
    font: 700 60px/1.12 "GalanoGrotesque", sans-serif;
    margin-bottom: 25px;
}

/*-----------------------------------QUICK-START-------------------------------------*/

.quick-start-section {
    padding: 40px 0 110px;
}

.quick-start-section .section-title {
    margin-bottom: 95px;
}

.quick-start-section .btns-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.quick-start-section .btn {
    width: 50%;
    font-size: 50px;
    margin-right: 30px;
    padding: 14px 15px;
}

.quick-start-section .btn:last-child {
    margin-right: 0;
}

/*---------------------------------FEATURE-SECTION-----------------------------------*/
.description-wrap {
    font: 400 36px/1.3 "GalanoGrotesque", sans-serif;
}

.description-wrap p {
    margin-bottom: 35px;
}

.feature-section {
    background: url("../img/window-bg.jpg") no-repeat right bottom;
    background-size: cover;
    border-bottom: 3px solid #fff;

    -webkit-box-shadow: 0 0 20px #434343;
    box-shadow: 0 0 20px #434343;

    padding: 185px 0 360px;
    margin-bottom: 5px;
}

.partnership-section {
    background: url("../img/panel-bg.jpg") repeat-x center;
    background-size: auto 100%;
    padding-bottom: 5px;
}

.partnership-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.partnership-section .img-wrap {
    direction: rtl;
    padding-right: 55px;
}

.partnership-section .img-wrap img {
    position: relative;
    width: 139%;
    max-width: none;
}

.partnership-section .description-wrap {
    padding: 38px 0;
}

.partnership-section.animate .img-wrap {
    -webkit-animation: .5s fadeInLeft linear forwards;
    animation: .5s fadeInLeft linear forwards;
}

.partnership-section.animate .description-wrap {
    -webkit-animation: .5s fadeInRight linear forwards;
    animation: .5s fadeInRight linear forwards;
}

.offer-section {
    position: relative;
    background-color: #EFEFEF;
    padding-top: 90px;
    margin-bottom: 85px;
    overflow: hidden;
}

.offer-section .section-title {
    position: relative;
    z-index: 5;
}

.offer-section .compound-bg {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    background: url("../img/clouds-bg/trees.svg") no-repeat center bottom;
    background-size: cover;

    -webkit-user-select: none;
    user-select: none;

    z-index: 1;
}

.offer-section .z-index-up {
    position: relative;
    z-index: 5;
}

.big-clouds {
    position: absolute;
    top: -50px;
    left: 50%;
    min-width: 1920px;
    -webkit-animation: 1.5s bigClouds linear infinite;
    animation: 1.5s bigClouds linear infinite;
    background-size: 100%;
    z-index: 2;
}

.small-clouds {
    position: absolute;
    min-width: 1920px;
    width: 100%;
    height: 100%;

    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    background: url("../img/clouds-bg/small-clouds.svg") no-repeat left center;
    background-size: cover;

    z-index: 1;
}

.offer-section .text-box {
    max-width: 400px;
    padding: 0;
}

.offer-section .section-title {
    margin-bottom: 30px;
}

.offer-section .text-box {
    font: 18px/1.2 "GalanoGrotesque", sans-serif;
    color: #939598;
}

.offer-section .offer-title {
    font: 700 50px/1 "GalanoGrotesque", sans-serif;
    margin-bottom: 11px;

    -webkit-transition: .5s;
    transition: .5s;
}

.offer-section .offer-sub-text {
    font: 700 24px/1.2 "GalanoGrotesque", sans-serif;
    margin-bottom: 10px;
}

.offer-section .text-box p:last-of-type {
    margin-bottom: 20px;
}

.offer-section .text-box.right-box {
    -webkit-transform: translateY(-42%);
    -ms-transform: translateY(-42%);
    transform: translateY(-42%);
    margin-left: auto;
    padding-left: 45px;
}

.offer-box-bg:hover .house-outline {
    fill: #F15C2C;
}

.offer-box-bg:hover .offer-title {
    color: #F15C2C;
}

.offer-box-bg:hover .btn {
    background-color: #F15C2C;
    color: #fff;
}

.house-outline {
    fill: #BDBEC0;
    transition: .5s;
}

.house-fill {
    fill: #FFF;
}

.offer-section .sm-house {
    position: absolute;
    height: 34%;
    width: auto;
    bottom: 0;
    left: 44%;

    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    z-index: 5;
}

.offer-section .tall-house {
    position: absolute;
    height: 54%;
    width: auto;
    max-height: 400px;
    bottom: -5px;
    right: 53%;

    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    z-index: 5;
}

.svg-container svg {
    display: block;
    width: auto;
    height: 100%;
}

/*-------------------------------------FOOTER---------------------------------------*/

.footer {
    margin-top: auto;
    padding: 53px 0 60px;
    color: #fff;
    overflow: hidden;
}

.top-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer .main-nav-item a {
    color: #fff;
}

.footer a:hover,
.footer a:focus {
    color: #F15B2A;
}

.footer .main-nav,
.footer .social-nav {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.footer .social-nav {
    margin-bottom: 25px;
    margin-right: -30px;
}

.footer .main-nav-item {
    margin-bottom: 15px;
}

.footer .main-nav-item.active a:after,
.footer .main-nav-item a:hover:after,
.footer .main-nav-item a:focus:after {
    display: none;
}

.social-link {
    display: inline-block;
    font-size: 2em;
    margin-right: 30px;
}

/*SECONDARY*/

.page-banner {
    display: table;
    height: 400px;
    width: 100%;
    padding: 120px 0 100px;

    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
}

.page-banner .text-wrap {
    display: table-cell;
    vertical-align: middle;
}

.page-banner .banner-title {
    font: 700 72px/1 "GalanoGrotesque", sans-serif;
}

.page-tabs-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    border: 1px solid #B0B0B0;
}

.page-tabs-nav .tabs-nav-link {
    font: 700 24px/1 'GalanoGrotesque', sans-serif;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;

    border-right: 1px solid #B0B0B0;
    padding: 25px 5px 23px;
    text-align: center;
    border-bottom: 4px solid transparent;
    color: #B0B0B0;
}

.page-tabs-nav .tabs-nav-link.active {
    border-bottom-color: #F15C2C;
}

.page-tabs-nav .tabs-nav-link:hover,
.page-tabs-nav .tabs-nav-link:focus,
.page-tabs-nav .tabs-nav-link.active {
    color: #F15C2C;
}

.page-tabs-nav .tabs-nav-link:last-child {
    border-right: none;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.page-content {
    font: 28px "GalanoGrotesque", sans-serif;
    padding: 80px 0 150px;
}

.page-content article {
    max-width: 900px;
    width: 90%;
}

.page-content-title {
    font: 700 60px/1 "GalanoGrotesque", sans-serif;
    margin-bottom: 35px;
}

.page-content p {
    margin-bottom: 50px;
}

.page-content h1,
.page-content h2,
.page-content h3 {
    font: 700 48px/1 "GalanoGrotesque", sans-serif;
    margin-bottom: 35px;
}

.page-content h4 {
    font-size: 40px;
}

.page-content h5 {
    font-size: 32px;
}

.page-content h6 {
    font-size: 26px;
}

.page-content h4,
.page-content h5,
.page-content h6 {
    margin-bottom: 20px;
}

.page-content ul,
.page-content ol {
    padding-left: 40px;
    padding-bottom: 20px;
}

.page-content li {
    margin-bottom: 40px;
    padding-left: 10px;
}

.page-content ul li {
    list-style: circle;
}

.page-content ol li {
    list-style-type: decimal;
}

.page-content strong {
    font-weight: 700;
}

.page-content a {
    text-decoration: underline;
}

.page-content a:focus,
.page-content a:hover {
    color: #F15C2C;
}

.page-content table {
    line-height: 1;
    border: 1px solid #414042;
    margin-bottom: 40px;
}

.page-content table td,
.page-content table th {
    border: 1px solid #414042;
    padding: 15px 15px;
}

.page-content blockquote {
    padding-left: 80px;
    border-left: 2px solid #414042;
}