.feature-section {
  position: relative;
  background: url(../../img/frame.jpg) center no-repeat;
  background-size: cover;

  -webkit-box-shadow: 0 0 20px #434343;
  box-shadow: 0 0 20px #434343;

  padding: 185px 0 275px;
  margin-bottom: 5px;
  overflow: hidden;

  &:before{
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }

  .video-anim {
    position: absolute;
    width: 800px;
    right: 0;
    top:50%;
    -webkit-transform: translate(25%, -40%);
    transform: translate(25%, -40%);
    direction: rtl;
    z-index: 1;

    video {
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto;
      opacity: .87;
    }
  }

  & > .container {
    position: relative;
  }

  .description-wrap {
    position: relative;
    z-index: 2;
  }
}

@media all and (max-width: 1900px) {
  .feature-section {
    background-size: 1900px auto;
  }
}

@media all and (max-width: 1600px) {
  .feature-section {
    padding-bottom: 240px;
    
    .video-anim {
      width: 645px;
      -webkit-transform: translate(5%, -40%);
      transform: translate(5%, -40%);
    }
  }
}

@media all and (max-width: 1460px) {
  .feature-section {
    padding-bottom: 210px;
  }
}

@media all and (max-width: 1220px) {
  .feature-section {
    padding: 135px 0;

    .video-anim video {
      width: 540px;
      -webkit-transform: translateX(10%);
      transform: translateX(10%);
    }
  }
}

@media all and (max-width: 980px) {
  .feature-section {
    background: none;
    padding-top: 90px;
    .video-anim {
      position: relative;
      max-width: 640px;
      width: 100%;
      margin: 0 auto;

      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      video {
        position: relative;
        width: 100%;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }
    }
  }
}
