.feature-section {
  background: url("../img/frame.jpg") no-repeat right center;
  background-size: cover;

  -webkit-box-shadow: 0 0 20px #434343;
  box-shadow: 0 0 20px #434343;

  padding: 185px 0 360px;
  margin-bottom: 5px;
}

@media all and (max-width: 1900px) {
  .feature-section {
    background-size: 1900px auto;
  }
}

@media all and (max-width: 1600px) {
  .feature-section {
    background-size: 1600px auto;
  }
}

@media all and (max-width: 980px) {
  .feature-section {
    background: none;
    padding-top: 100px;
    padding-bottom: 40px;
  }
}

@media all and (max-width: 640px) {
  .feature-section {
    padding-top: 70px;
  }
}