/*
================================================================================
  Footer
================================================================================
*/

.footer {
  position: relative;
  margin-top: auto;
  padding: 53px 0 60px;
  color: #fff;
  overflow: hidden;
  z-index: 10;
  .top-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .main-nav-item {
    margin-bottom: 15px;
    &,
    &.active {
      a:after {
        display: none;
      }
    }
    a {
      color: #fff;
    }
  }
  a {
    &:hover,
    &:focus {
      color: #F15B2A;
      &:after {
        display: none;
      }
    }
  }
  .main-nav,
  .social-nav {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .social-nav {
    margin-bottom: 25px;
    margin-right: -30px;
    .social-link {
      display: inline-block;
      font-size: 2em;
      margin-right: 30px;
    }
  }
}

@media all and (max-width: 980px) {
  .footer {
    padding-bottom: 35px;
    .container {
      width: 100%;
      padding: 0 20px;
    }
    .top-footer {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .main-nav {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

@media all and (max-width: 480px) {
  .footer {
    .top-footer {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
    .main-nav {
      width: auto;
      margin-bottom: 30px;
      &-item {
        display: block;
        margin-bottom: 10px;
      }
    }
    .link-holder {
      display: block;
      padding-top: 10px;
    }
  }
}
