.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 35px 0;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 2000;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 180px;

    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0); /* IE6-9 */

    opacity: 1;
    pointer-events: none;

    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: .4s;
    transition: .4s;
    z-index: 0;
  }
  &.affix {
    background: #fff;
    box-shadow: 0 0 15px #cacaca;
    &:before {
      opacity: 0;
    }
  }
  & > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    z-index: 2;
  }
  .logo {
    position: relative;
    display: inline-block;
    max-width: 285px;
    margin-left: 0;
    top: 0;
  }
  .nav-wrap {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right;
  }
  .secondary-nav {
    display: none !important;
  }
  .burger-btn,
  .mob-nav-close {
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
    -webkit-appearance: none;
    appearance: none;
    display: none;
    border: none;
  }
  .burger-btn {
    position: fixed;
    background: $text-color url("../../img/burger.svg") no-repeat center;
    -webkit-transition: transform .4s;
    transition: transform .4s;
    z-index: 1000;
    &.active {
      -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
      transform: translateX(100%);
    }
  }
  .mob-nav-close {
    position: absolute;
    background: url("../../img/cancel.svg") no-repeat center;
    background-size: 29px;
    z-index: 1000;
  }

  .dropdown {
    position: relative;
    .dropdown-menu {
      position: absolute;
      top: 100%;
      left: -5px;
      right: 0;
      min-width: 140px;
      padding: 5px 0;

      background-color: #fff;
      //border: 1px solid $dropdown-border-color;
      text-align: left;

      -webkit-transform: scaley(0);
      -ms-transform: scaley(0);
      transform: scaley(0);

      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      z-index: 100;
      li {
        padding: 5px;
        a {
          &:hover,
          &:focus {
            color: $primary-color;
          }
        }
      }
    }
    &:hover {
      .dropdown-menu {
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
      }
    }
  }
}

@media all and (min-width: $screen-lg-min) {
  .home {
    .header {
      .logo {
        position: absolute;
        display: inline-block;
        margin-left: 9%;
        left: 0;
        top: 30%;
      }
      .nav-wrap {
        padding-top: 30px;
      }
    }
    .header:not(.affix) {
      .logo {
        margin-left: 21%;
      }
    }
  }
}

@media all and (min-width: $screen-lg-min) and (max-width: 1370px) {
  .home {
    .header {
      .nav-wrap {
        padding-top: 15px;
      }
    }
  }
}

@media all and (min-width: $screen-xxl-min) {
  .home {
    .header {
      .logo {
        margin-left: 15%;
      }
    }
  }
}

@media all and (max-width: 1370px) {
  .wrap {
    .header {
      padding: 25px 0;
      .logo {
        max-width: 240px;
      }
    }
  }

  .home {
    .header {
      .logo {
        max-width: 240px;
      }
    }
  }
}

@media all and (max-width: 1220px) {
  .wrap {
    .header {
      .logo {
        max-width: 200px;
      }
    }
  }
}

@media all and (max-width: 980px) {
  .wrap {
    .header {
      padding: 12px 0;
      &:before {
        // height: 168px;
        height: 128px;
      }
      .container {
        width: 100%;
        padding: 0 20px;
      }
      .burger-btn,
      .mob-nav-close {
        display: block !important;
      }
      .nav-wrap {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
        max-height: 100%;
        background-color: rgba(65, 65, 66, 0.95);
        padding: 20% 0 10%;
        overflow-x: auto;
        z-index: 9999;
        &.active {
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
          opacity: 1;
        }
        li {
          display: block;
          text-align: center;
          margin: 0 0 30px;
        }
        a {
          color: #fff;
          font-size: 30px;
        }
      }
      .dropdown-menu {
        padding-top: 30px;
        position: relative;
        background-color: transparent;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        li {
          margin-bottom: 15px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        a {
          font-size: 20px;
        }
      }
      .secondary-nav {
        position: relative;
        display: block !important;
        .container {
          padding: 0;
        }
        .caret {
          border-top-color: #fff;
        }
        .dropdown {
          &-menu {
            display: none;
            background-color: transparent;
            border: none;
            padding-top: 15px;
            li {
              padding: 10px;
              margin-bottom: 0;
            }
          }
          &:hover {
            .dropdown-menu {
              display: block;
            }
          }
        }
        a {
          font-size: 26px;
          text-transform: none;
        }
      }
    }
  }
}

@media all and (max-width: 767px) {
  .wrap {
    .header{
      &:before {
        height: 100px;
      }

      .dropdown-menu {
        padding-top: 15px;
      }
    }
  }
}

@media all and (max-width: 640px) {
  .wrap {
    .header {
      .logo {
        max-width: 170px;
        padding-top: 5px;
      }
    }
  }
}

@media all and (max-width: 480px) {
  .wrap {
    .header {
      &:before {
        height: 112px;
      }
      .nav-wrap {
        padding-top: 100px;
        a {
          font-size: 22px;
        }
      }
      .dropdown-menu {
        a {
          font-size: 16px;
        }
      }
    }
  }
}