$primary-color: #F15C2C;

$grey-bg: #efefef;
$secondary-bg: #292C3F;

$text-color: #414042;
$text-grey: #939598;
$btn-text-default: #231F20;

$shadow-color: #626262;
$dropdown-border-color:#ddd;
$tab-border-color:#B0B0B0;
